.content__posts {
}
.posts__title {
  color: #47525e;
  font-size: 35px;
  margin: 0 0 15px 0;
}
.posts__form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.posts__form textarea {
  background-color: #e6eeea;
  font-size: 26px;
  text-align: left;
  padding: 15px;
  margin: 0 0 20px 0;
}

.posts__form button {
  background-color: #0cb658;
  width: 162px;
  padding: 10px;
  color: #ffffff;
  font-size: 26px;
  align-self: flex-end;
}

.content__wall {
  display: flex;
  flex-direction: column;
}
