.header {
  background-color: #ffffff;
  height: 70px;
  margin: 0 0 15px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
}

.header__logo {
  margin: 0 10px 0 0;
}

.header__title a {
  font-size: 20px;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__login button {
  max-width: 60px;
  font-size: 10px;
}
