.userItem {
  display: flex;
  padding: 15px;
  border-bottom: 2px solid rgb(182, 179, 179, 0.4);
}
.avatar {
  display: flex;
  max-width: 100px;
  align-items: center;
  justify-content: center;
}
.avatar img {
  width: 96px;
  height: 96px;
  border-radius: 48px;
}
.info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 20px 20px;
  gap: 10px;
}
.info__name {
}

.info__name a {
  color: #8190a5;
  font-weight: 600;
  font-size: 18px;
}
.info__status {
  background: url("img/status_icon.png") 0 3px/20px 20px no-repeat;
  padding: 5px 0 5px 25px;
  min-height: 25px;
}

.info__location {
  background: url("img/location_icon.png") 0 3px/20px 20px no-repeat;
  padding: 5px 0 5px 25px;
}

.info__country {
}
.info__city {
}
.but {
  display: flex;
  flex-direction: column;
  max-width: 170px;
  align-items: center;
  justify-content: center;
}
/* 
.but button {
  width: 162px;
  color: #ffffff;
  font-size: 26px;
  align-self: flex-end;
  padding: 10px;
}

.but button:disabled {
  background-color: grey;
} */

.info__follow {
  background-color: #0cb658;
}

.info__unfollow {
  background-color: #ff0000;
}
